:root {
  font-size: 16px;
}
header {
  position: sticky;
  background: #fff !important;
  z-index: 1000;
}

header nav {
  float: left;
  z-index: 20;
}
header h1 {
  margin: 0 auto;
}
a {
    color: #000;
    text-decoration: underline;
}
nav ul {
  padding-left: 1rem;
}

main section {
  font-size: 1rem;
  scroll-margin-top: 54px;
  height: calc(100% - 2em);
  display: grid;
  padding: 1em;
  /* padding-top: 32px; */
  justify-items: center;
  align-content: start;
  text-align: center;
}

main section:first-of-type {
  background: #fafafa;
  height: 100dvh;
  align-content: center;
}

section h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
}


.text-container {
  max-width: 80ch;
  margin: 0 auto;
  text-wrap: pretty;
}

main section ul {
  padding-left: 0;
  width: 100%;
}

.ui.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(40ch, 100%), 1fr));
  /* max-width: calc(100% - 12em); */
  margin: 0 auto;
  gap: 1em;
  justify-items: center;
  align-items: start;
  padding: 1em;
}
.ui.cards > .card {
  width: 100%;
  /* width: 100%; */
}
.card-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: end;
  text-align: left;
}
.card-image img {
  width: 100%;
  border-radius: 0.2em;
  /* height: auto; */
}

.card-links-con {
  display: flex;
  align-items: center;
  gap: 1em;
  align-self: start;
}
.card-links {
  display: flex;
  flex-flow: row wrap;
  gap: 0 0.5em;
  align-items: center;
}

.album-title {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 0.2em;
}
.album-artist {
  font-size: 1.75em;
  font-weight: 100;
  font-style: italic;
}

dialog.ui.raised.segment {
  border: none;
  outline: none;
  margin: auto;
  position: fixed !important;
  height: calc(100% - 6em);
  width: calc(100% - 4em);
  /* max-height: fit-content; */
  overflow: auto;
}
dialog iframe {
  height: 70dvh;
}

